<div class="content">
    <div class="col-12">
        <div class="row mt-8r">
            <div class="col-4"></div>
            <div class="col-4 login-container rounded-4">
                <h1>Login</h1>
                <hr>
                <form [formGroup]="formularioLogin" (submit)="loguearUsuario()">
                    <div class="form-group">
                        <label class="form-label">Correo Electronico</label>
                        <input type="text" formControlName="email" class="form-control" />
                        <small class="validation-error" *ngIf="this.formularioLogin.get('email')?.hasError('required') && this.formularioLogin.get('email')?.touched">La direccion de correo electrónico es un campo requerido.</small>
                        <small class="validation-error" *ngIf="this.formularioLogin.get('email')?.hasError('minlength') && this.formularioLogin.get('email')?.touched">La direccion de correo electronico debe tener al menos 4 caracteres.</small>
                        <small class="validation-error" *ngIf="this.formularioLogin.get('email')?.hasError('maxlength') && this.formularioLogin.get('email')?.touched">La direccion de correo electronico debe tener como maximo 50 caracteres.</small>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control" />
                        <small class="validation-error" *ngIf="this.formularioLogin.get('password')?.hasError('required') && this.formularioLogin.get('password')?.touched">La contraseña es un campo requerido.</small>
                        <small class="validation-error" *ngIf="this.formularioLogin.get('password')?.hasError('maxlength') && this.formularioLogin.get('password')?.touched">La contraseña debe tener como maximo 50 caracteres.</small>
                    </div>
                    <div class="form-group mtc-5 aling-center">
                        <a routerLink="/usuario/registro"><strong>Registrarse</strong></a>
                    </div>
                    <div class="form-group mtc-10 aling-center">
                        <button type="submit" class="btn btn-warning"><strong>Ingresar</strong></button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
<video [src]="video" autoplay [muted]="true " loop>
    Problemas al cargar el video
</video>