<div>
    <img src="" alt="" [src]="fondo" class="fondaco">
</div>
<div class="container-fluid" style="padding-top: 1%;">
    <button type="button" class="btn btn-danger mx-auto " style="z-index: 2;
position: relative;" routerLink="/inicio"><i class="fa-sharp fa-solid fa-delete-left"></i></button>
</div>
<div class="container mostrar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color: white;">Resultado últimas 10 partidas</h1>
                <hr>
                <table class="table table-bordered table-dark">
                    <thead style="background-color: black;">
                        <th>Jugador</th>
                        <th>Score Jugador</th>
                        <th>Score Crupier</th>
                        <th>Gano Jugador</th>
                        <th>Es Empate</th>
                        <th>Fecha Del Juego</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.juegos">
                            <td>{{item.usuario.nombre}}</td>
                            <td>{{item.scoreJugador}}</td>
                            <td>{{item.scoreCrupier}}</td>
                            <td><span [ngClass]='item.ganoJugador ? "fa fa-check" : "fa fa-times"'></span></td>
                            <td><span [ngClass]='item.esEmpate ? "fa fa-check" : "fa fa-times"'></span></td>
                            <td>{{item.fecha | date: "M/d/yy, h:mm a"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>